.chekoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chekoutProductInfo{
    padding-left: 20px;
}
.chekoutProductInfo > button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    margin-top: 74px;
}

.chekoutProductImg{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.chekoutProductTitle{
    font-size: 17px;
    font-weight: 500;
}

.chekoutProductRating{
    display: flex;
}